body {
    margin: 0;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: white;
    min-height: 100vh;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.task-area {
    border: 1px solid lightgray;
}

.task-tabs {
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-tabs div {
    padding: 1em;
}

#under-line {
    height: 4px;
    background-color: pink;
    position: absolute;
    width: 80px;
    left: 0px;
    top: 52px;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.task-done {
    text-decoration: line-through;
}

.task-done-bg {
    background-color: lightgray;
}

button {
    background-color: white;
    border: none;
}