body {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 225, 125);
}

h1 {
    font-size: 30px;
    margin: 30px auto;
    font-weight: bold;
}

#result-area {
    margin: 30px 0 30px 0;
    font-weight: bold;
    font-size: 20px;
}

.body-container {
    background-color: white;
    border: 30px double rgb(255, 225, 125);
    border-radius: 20px;
    height: 500px;
    width: auto;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
    margin-bottom: 3px;
}

#user-input {
    width: 300px;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    padding: 15px;
}

#play-btn {
    padding: 15px 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

#play-btn:not(:disabled):hover {
    background-color: #e9e9e9;
}

#chance-area {
    font-size: 14px;
    margin-bottom: 25px;
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}

.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#reset-btn {
    border: none;
    border-radius: 5px;
}

.guess-container {
    background-color: rgb(255, 125, 125);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    
    /* margin: 20px 0; */
    border-radius: 5px;
    padding: 5px;

    width: 100%;
    height: auto;

}

span {
    font-weight: bold;
}

#guess-text {
    margin: 0 5px;
    width: 150px;
    padding: 10px;
    font-weight: 500;
}

#guess-area {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 100%;

    /* height: 100%; */
    padding: 20px;
    margin-right: 10px;
}

.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#reset-btn {
    width: 100%;
    padding: 10px 0;
    background-color: rgb(25, 175, 55);
    color: #ffffff;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#answer {
    margin-top: 50px;
}


@media screen and (max-width:48rem) {
    body {
      height: auto;
    }

    h1 {
        margin: 30px auto;
        font-size: 25px;
    }
    
    .body-container {
        width: 100%;
    }

    .input-container {
        margin: 20px 3px 3px;
    }

    #user-input {
        padding: 7px;
    }

    #play-btn {
        padding: 3px 10px;
        font-size: 14px;
        width: 20%;
    }

    #guess-text {
        font-size: 15px;
    }
}