.nav-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
    gap: 3px;
}

.fa-bars {
    font-size: 24px;
    color: #3a3a3a;
    cursor: pointer;
    display: none;
}

.bar-icon {
    display: none;
}

#search-input {
    display: none;
}

#search-btn {
    border: none;
    background-color: #fff;
    font-size: 24px;
}

.head-line {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.head-line svg {
    width: 436px;
}

.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double #000;
}

.menus button {
    margin: 5px;
    border: none;
    background: none;
}

.menus button:hover {
    /* background-color: beige; */
    border-bottom: 2px solid #000;
    /* border-radius: 3px; */
}

.news {
    display: flex;
    padding: 1em;
}

.news-img-size {
    max-width: 100%;
    max-height: 250px;
    margin-bottom: 15px;
}

.news {
    border-bottom: 2px solid #000;
}

.page-item a {
    /* border: none; */
    color: #474747;
    cursor: pointer;
    margin-top: 10px;
}

.page-item.active a {
    border: 1px solid #474747;
    background-color: #474747;
}

.page-item a:hover {
    color: #474747;
}

.page-item.active a:hover {
    border: 1px solid #474747;
    background-color: #474747;
    color: #fff;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* padding: 5px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px),screen and (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .bar-icon {display: block;}
  .menus {display: none;}
}

